<app-admin-header-section></app-admin-header-section>
@if (responsiveService.isMobile() && responsiveService.isNavBarOpen()) {
<nav class="mobile-nav-overlay">
  <div class="nav-container">
    <ul class="nav-list">
      <li class="nav-item">
        <span class="nav-link">
          <mat-icon class="menu_icon" (click)="responsiveService.navBarOpen()"
            >close</mat-icon
          >
        </span>
      </li>
      @for (r of routesList; track $index) { @if (r.path!=''&& r.path!='**') {
      <li class="nav-item">
        <span class="nav-link" (click)="goToPath(r.path)">
          <mat-icon class="menu_icon">{{r.data?.['icon']}}</mat-icon>
          <span
            class="link-label"
            >{{ (r.data?.['label'] ?? "") | translate }}</span
          >
        </span>
      </li>
      } }

      <li class="nav-item special-item">
        <app-login-logout-button></app-login-logout-button>
      </li>
      <li class="nav-item special-item">
        <app-language-button></app-language-button>
      </li>
    </ul>
  </div>
</nav>
}
<mat-sidenav-container autosize>
  <mat-sidenav
    [ngClass]="!isCollapsed ? '' : 'expanded'"
    [mode]="responsiveService.isMobile() ? 'over' : 'side'"
    [opened]="responsiveService.isMobile() ? 'false' : 'true'"
  >
    <mat-nav-list>
      <a mat-list-item (click)="toggleMenu()">
        <span class="entry">
          <mat-icon>menu</mat-icon>
        </span>
      </a>
      @for (r of routesList; track $index) { @if
      (r.data?.['showInSidebar']??false) {
      <a mat-list-item>
        <span class="entry" [routerLink]="[r.path]">
          <mat-icon class="menu-icon">{{r.data?.['icon']}}</mat-icon>
          @if(!isCollapsed){
          <span>{{ (r.data?.['label'] ?? "") | translate }}</span>
          }
        </span> </a
      >} }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="min-height: 60vh">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-footer></app-footer>
