 
@use 'variable' as v;

.expanded {
    width: 88px;   
}
 
mat-sidenav {
  
    background-color: v.$background-2;
    @media screen and (min-width: 600px) {
      padding-top: 0rem;
    }

    .entry{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding:0.75rem;
    }
  }

// Move the content down so that it won't be hidden by the toolbar
mat-sidenav-content{
    min-height: 50vh;
    padding-top: 3.5rem;
    @media screen and (min-width: 600px) {
        padding-top: 0rem;
    }
}




