<div class="container my-5">
  <div class="row justify-content-center"> 
      <h2 class="page-title mb-4">{{ "privacy.title" | translate }}</h2>
      <div class="">
        <p>{{ "privacy.description" | translate }}</p>

        <h3>{{ "privacy.collecting-title" | translate }}</h3>
        <p>{{ "privacy.collecting-desc" | translate }}</p>
        <ul>
          <li>{{ "privacy.collecting-item1" | translate }}</li>
          <li>{{ "privacy.collecting-item2" | translate }}</li>
          <li>{{ "privacy.collecting-item3" | translate }}</li>
        </ul>

        <h3>{{ "privacy.using-title" | translate }}</h3>
        <p>{{ "privacy.using-desc" | translate }}</p>
        <ul>
          <li>{{ "privacy.using-item1" | translate }}</li>
          <li>{{ "privacy.using-item2" | translate }}</li>
          <li>{{ "privacy.using-item3" | translate }}</li>
        </ul>

        <h3>{{ "privacy.protection-title" | translate }}</h3>
        <p>{{ "privacy.protection-desc" | translate }}</p>

        <h3>{{ "privacy.contact-title" | translate }}</h3>
        <p>{{ "privacy.contact-desc" | translate }}</p>
      </div>
    </div>
  </div> 