<div class="container my-5">
  <nav class="navbar navbar-expand-lg mt-2">
    <div class="navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item header__top__hover mx-2" [routerLink]="['../../']">
          <span>🛒 SHOPPING CART </span>
        </li>
        <li class="nav-item header__top__hover mx-2">
          <span>> CHECKOUT DETAILS</span>
        </li>
        <li class="nav-item header__top__hover mx-2">
          <span>> ORDER COMPLETE</span>
        </li>
      </ul>
    </div>
  </nav>
  <div class="table-responsive shopping__cart__table">
    <table class="table align-middle text-center">
      <thead>
        <tr>
          <th>{{ "general.name" | translate }}</th>
          <th>{{ "general.price" | translate }}</th>
          <th>{{ "general.count" | translate }}</th>
          <th>{{ "general.subtotal" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        @for (cartItem of cart.cartItems; track $index) {
        <tr>
          <td class="product__cart__item">
            <div class="product__cart__item__pic">
              <app-image
                [src]="cartItem.product.images[0].guidName"
                alt="product image"
              ></app-image>
            </div>
            <div class="product__cart__item__text">
              {{ cartItem.product.name.local }}
            </div>
          </td>

          <td class="cart__price">
            {{ "general.JOD" | translate }} {{ cartItem.product.price }}
          </td>

          <td class="quantity__item">
            <div class="quantity">
              <div class="pro-qty-2">
                <a class="qtybtn" (click)="decreaseQuantity(cartItem)">-</a>
                {{ cartItem.quantity }}
                <a class="qtybtn" (click)="increaseQuantity(cartItem)">+</a>
              </div>
            </div>
          </td>

          <td class="cart__price">
            {{ "general.JOD" | translate }}
            {{ cartItem.total }}
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>

  <!-- Continue Shopping -->
  <div class="mb-4">
    <button class="btn btn-primary" [routerLink]="['/user']">
      &larr; {{ "cart.continue-shopping" | translate }}
    </button>
  </div>

  <!-- Totals -->
  <div class="text-end">
    <p>
      {{ "general.total" | translate }}:
      <strong>{{ "general.JOD" | translate }} : {{ total }}</strong>
    </p>
  </div>

  <!-- Checkout -->
  <div class="text-center">
    <button
      (click)="openLogInLogoutDialog()"
      class="btn btn-primary px-5 py-2 w-100"
    >
      {{ "cart.checkout" | translate }}
    </button>
  </div>
</div>
