<div class="container list">
  <h3 class="text-titel">{{ "product.product-list" | translate }}</h3>
  <div class="btn-container">
    <button *ngIf="canAdd"
      class="btn btn-primary animate__animated animate__fadeIn"
      [routerLink]="['manage']"
    >
      {{ "addProduct" | translate }}
    </button>
  </div>
  <div *ngIf="hasData"  class="table-responsive">
    <table mat-table [dataSource]="dataSource" class="table">
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">
          <div class="image-in-table">
            <app-image [src]="element.images?.[0].guidName"></app-image>
          </div>
        </td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>
          {{ "general.name" | translate }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element.name?.local }}</td>
      </ng-container>

      <!-- price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>
          {{ "general.price" | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.priceBeforeDiscount">
            <span class="text-muted text-decoration-line-through py-1 px-2">
              {{ element.priceBeforeDiscount }}</span
            >/
          </span>
          {{ element.price }} {{ "general.JOD" | translate }}
        </td>
      </ng-container>
      <!-- priceBeforeDiscount Column -->
      <ng-container matColumnDef="priceBeforeDiscount">
        <th mat-header-cell *matHeaderCellDef>
          {{ "general.price-before-discount" | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.priceBeforeDiscount }}
        </td>
      </ng-container>
      <!-- count Column -->
      <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef>
          {{ "general.count" | translate }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element.count }}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>
          {{ "general.actions" | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          <ul class="list-unstyled d-flex">
            <li
              class="d-flex btn btn-icon"
              [title]="'general.view' | translate"
              [routerLink]="[
                '/admin',
                'category',
                element.productCategory.categoryId,
                'product-category',
                element.productCategory.productCategoryId,
                'product',
                'productView',
                element.id
              ]"
            >
              <mat-icon class="menu-icon">visibility</mat-icon>
            </li>
            <li
              class="d-flex btn btn-icon"
              title="{{ 'general.edit' | translate }}"
              [routerLink]="[
                '/admin',
                'category',
                element.productCategory.categoryId,
                'product-category',
                element?.productCategoryId,
                'product',
                'manage',
                element.id
              ]"
            >
              <mat-icon class="menu-icon">edit</mat-icon>
            </li>
            <li
              class="d-flex btn btn-icon"
              title="{{ 'general.delete' | translate }}"
              (click)="delete(element.id!)"
            >
              <mat-icon class="menu-icon">delete</mat-icon>
            </li>
          </ul>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [length]="totalNumberOf"
      (page)="pageChanged($event)"
      [pageSizeOptions]="pageSizeOptions"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
