<div class="container my-5">
  <div class="row justify-content-center">
    <h2 class="page-title mb-4">{{ "terms.title" | translate }}</h2>
    <div class="">
      <p>{{ "terms.description" | translate }}</p>
      <h3 class="mt-2">{{ "terms.delivery-title" | translate }}</h3>
      <ul>
        <li>{{ "terms.delivery-item1" | translate }}</li>
        <li>{{ "terms.delivery-item2" | translate }}</li>
        <li>{{ "terms.delivery-item3" | translate }}</li>
      </ul>

      <h3 class="mt-2">{{ "terms.quality-title" | translate }}</h3>
      <ul>
        <li>{{ "terms.quality-item1" | translate }}</li>
        <li>{{ "terms.quality-item2" | translate }}</li>
        <li>{{ "terms.quality-item3" | translate }}</li>
      </ul>

      <h3 class="mt-2">{{ "terms.return-title" | translate }}</h3>
      <ul>
        <li>{{ "terms.return-item1" | translate }}</li>
        <li>{{ "terms.return-item2" | translate }}</li>
        <li>{{ "terms.return-item3" | translate }}</li>
      </ul>

      <h3 class="mt-2">{{ "terms.payment-title" | translate }}</h3>
      <ul>
        <li>{{ "terms.payment-item1" | translate }}</li>
        <li>{{ "terms.payment-item2" | translate }}</li>
        <li>{{ "terms.payment-item3" | translate }}</li>
        <li>{{ "terms.payment-item4" | translate }}</li>
      </ul>

      <h3 class="mt-2">{{ "terms.inquiries-title" | translate }}</h3>
      <p>{{ "terms.inquiries-desc" | translate }}</p>
    </div>
  </div>
</div>
