<div class="search-page">
  <div class="search-page__header">
    <h3 class="text-titel">{{ "cart.cart-details" | translate }}</h3>

    <div class="filter-panel">
      <form #myForm="ngForm">
        <div class="filter-row">
          <div class="filter-field">
            <label for="orderExitStatus" class="form-label-custom">
              {{ "cart.order-exit-status" | translate }}
            </label>
            <div class="filter-input-wrapper">
              <span class="material-icons filter-input-icon"
                >local_shipping</span
              >
              <mat-select
                class="form-control filter-input filter-select"
                [(ngModel)]="cart.orderExitStatus"
                #orderExitStatu="ngModel"
                name="orderExitStatus"
                [disabled]="loadingCart"
              >
                <mat-option
                  *ngFor="let status of orderExitStatus"
                  [value]="status.id"
                >
                  {{ "orderExitStatus." + status.name | translate }}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>
        <div class="btn-container">
          <button
            type="button"
            class="btn btn-primary"
            (click)="saveOrderExitStatusOfCart()"
          >
            {{ "general.save" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<search-page
  [(pagedResult)]="dataEntity"
  [filter]="filter"
  (resetBase)="reset()"
  (searchBase)="search()"
  [disableSearchContainer]="true"
  (pageChange)="onPageChange($event)"
>
  <page-header
    [title]="'cart.cart-item-list' | translate"
    [icon]="'shopping_cart'"
  >
    <header-actions>
      <div class="btn-container">
        <button
          class="btn-icon-ghost"
          (click)="toggleFilter()"
          [class.active]="filterVisible()"
        >
          <mat-icon>filter_list</mat-icon>
        </button>
        <button
          type="button"
          class="btn-icon-outline"
          title="{{ 'general.refresh' | translate }}"
        >
          <mat-icon>refresh</mat-icon>
        </button>
      </div>
    </header-actions>
  </page-header>

  <grid-result-body [allowExpand]="true">
    <grid-column label="general.image" field="product.images">
      <ng-template let-data>
        <div class="cart-table">
          <div class="table__img">
            <app-image
              [src]="data.product.images?.[0]?.guidName"
              class="cell-img"
            ></app-image>
          </div>
        </div>
      </ng-template>
    </grid-column>
    <grid-column label="product.product-name" field="product.name.local">
      <ng-template let-data>
        <span class="cell-text">{{ data.product.name.local }}</span>
      </ng-template>
    </grid-column>
    <grid-column label="general.count" field="quantity">
      <ng-template let-data>
        <span class="cell-text">{{ data.quantity }}</span>
      </ng-template>
    </grid-column>
    <grid-column label="general.price" field="unitPrice">
      <ng-template let-data>
        <span class="cell-text"
          >{{ data.unitPrice }} {{ "general.JOD" | translate }}</span
        >
      </ng-template>
    </grid-column>
    <grid-column label="general.total" field="total">
      <ng-template let-data>
        <span class="cell-text"
          >{{ data.total }} {{ "general.JOD" | translate }}</span
        >
      </ng-template>
    </grid-column>

    <grid-expanded>
      <ng-template let-data>
        <div class="expanded-root">
          <div class="expanded-section-heading">
            <span class="material-icons">info</span>
            <span translate>general.details</span>
          </div>
          <div class="expanded-meta">
            @for (value of data.keyAttributeValues; track value.id) {
              <div class="meta-chip">
                <span class="meta-chip-label">{{
                  value.keyAttribute.name.local
                }}</span>
                <span class="meta-chip-value">{{ value.value.local }}</span>
              </div>
            }
          </div>
        </div>
      </ng-template>
    </grid-expanded>
  </grid-result-body>
</search-page>
