<div class="container">
  <h3>{{ "cart.cart-list" | translate }}</h3>
  <form #productForm="ngForm" class="form">
    <div class="row">
      <div class="form-group form-group col-12 col-md-6">
        <label for="orderExitStatus">{{
          "cart.order-exit-status" | translate
        }}</label>
        <mat-select
          class="form-control"
          [disabled]="loadingCart"
          [(value)]="cart.orderExitStatus"
        >
          <mat-option
            *ngFor="let status of orderExitStatus"
            [value]="status.id"
          >
            {{ "orderExitStatus." + status.name | translate }}
          </mat-option>
        </mat-select>
      </div>

      <div class="btn-container">
        <button
          type="button"
          class="btn btn-primary mx-2"
          (click)="saveOrderExitStatusOfCart()"
        >
          {{ "general.save" | translate }}
        </button>
      </div>
    </div>
  </form>
  <div *ngIf="hasData" class="cart-table">
    <table mat-table [dataSource]="dataSource" class="_table">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>
      <ng-container matColumnDef="img">
        <th mat-header-cell *matHeaderCellDef>
          {{ "general.image" | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="table__img">
            <app-image
              [src]="element.product.images?.[0]?.guidName"
            ></app-image>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="product-name">
        <th mat-header-cell *matHeaderCellDef>
          {{ "product.product-name" | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.product.name.local }}
        </td>
      </ng-container>
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>
          {{ "general.count" | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.quantity }}
        </td>
      </ng-container>
      <ng-container matColumnDef="unitPrice">
        <th mat-header-cell *matHeaderCellDef>
          {{ "general.price" | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.unitPrice }}
        </td>
      </ng-container>
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef>
          {{ "general.total" | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.total }}
        </td>
      </ng-container>
      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef>
          {{ "general.details" | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="table__details">
            @for(value of element.keyAttributeValues; track value.id) {

            <small class="m-1">
              {{ value.keyAttribute.name.local }}: {{ value.value.local }}
            </small>
            <hr class="m-0" width="50" />
            }
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>
          {{ "general.actions" | translate }}
        </th>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <div class="cart-list">
      <div class="cart-card" *ngFor="let element of dataSource.data">
        <div class="cart-card__body">
          <p class="cart-card__title">
            {{ "product.product-name" | translate }} :
            {{ element.product.name.local }}
          </p>
          <p class="cart-card__price">
            {{ "general.price" | translate }}: {{ "general.JOD" | translate }}
            {{ element.unitPrice }}
          </p>
          <p class="cart-card__quantity">
            {{ "general.count" | translate }}: {{ element.quantity }}
          </p>
          <p class="cart-card__total">
            {{ "general.total" | translate }}: {{ "general.JOD" | translate }}
            {{ element.total }}
          </p>
          <div class="card__details">
            <div *ngFor="let value of element.keyAttributeValues">
              <small
                >{{ value.keyAttribute.name.local }}: {{ value.value.local }}
              </small>
              <hr />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-4">
    <mat-paginator
      [length]="totalNumberOf"
      (page)="pageChanged($event)"
      [pageSizeOptions]="pageSizeOptions"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
