<div class="container my-5 product-view">
  <div class="row">
    <div class="mb-3">
      <h3 class="section-title section-title-center m-0">
        <b aria-hidden="true"></b>
        <span class="section-title-main m-0">{{ product.name.local }}</span>
        <b aria-hidden="true"></b>
      </h3>
    </div>
    <div class="col-md-6 image-gallery">
      <div
        *ngIf="product.productImages && product.productImages.length > 0"
        id="productImageCarousel"
        class="carousel slide w-100"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div
            *ngFor="let image of product.productImages; let i = index"
            class="carousel-item"
            [class.active]="i === 0"
          >
            <app-image
              [src]="image.guidName"
              [class]="'img'"
              alt="Thumbnail Image"
            ></app-image>
          </div>
        </div>

        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#productImageCarousel"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#productImageCarousel"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="row w-100 thumbnail-gallery">
        <div
          *ngFor="let image of product.productImages; let i = index"
          class="col-2 p-1"
        >
          <app-image [src]="image.guidName" alt="Thumbnail Image"></app-image>
        </div>
      </div>
    </div>

    <div class="col-md-6 product-info">
      <div class="customization">
        <div
          class="customization-item d-flex justify-content-between align-items-center"
        >
          <h2 class="text-titel py-1 px-2">{{ product.name.local }}</h2>
        </div>
        <div
          class="customization-item d-flex justify-content-between align-items-center"
        >
          <span class="text-description py-1 px-2">{{
            product.description.local
          }}</span>
        </div>
      </div>
    </div>
  </div>

  @if (product.variants && product.variants.length > 0) {
    <div class="row mt-4">
      <div class="col-12">
        <h5>{{ "product.variants" | translate }}</h5>
          <div class="table-responsive">
            <table mat-table [dataSource]="product.variants" class="table">
              <ng-container matColumnDef="details">
                <th mat-header-cell *matHeaderCellDef>
                  {{ "general.details" | translate }}
                </th>
                <td mat-cell *matCellDef="let variant">
                  @for (attr of variant.attributes; track $index) {
                    <span>
                      {{ attr.keyAttributeName?.local }}:
                      {{ attr.value?.local }}
                    </span>
                    @if (!$last) { <span>, </span> }
                  }
                </td>
              </ng-container>

              <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef>
                  {{ "general.price" | translate }}
                </th>
                <td mat-cell *matCellDef="let variant">
                  {{ variant.price }} {{ "general.JOD" | translate }}
                </td>
              </ng-container>

              <ng-container matColumnDef="priceBeforeDiscount">
                <th mat-header-cell *matHeaderCellDef>
                  {{ "general.price-before-discount" | translate }}
                </th>
                <td mat-cell *matCellDef="let variant">
                  @if (variant.priceBeforeDiscount) {
                    {{ variant.priceBeforeDiscount }}
                    {{ "general.JOD" | translate }}
                  } @else { - }
                </td>
              </ng-container>

              <ng-container matColumnDef="stock">
                <th mat-header-cell *matHeaderCellDef>
                  {{ "general.stock" | translate }}
                </th>
                <td mat-cell *matCellDef="let variant">{{ variant.stock }}</td>
              </ng-container>

              <ng-container matColumnDef="available">
                <th mat-header-cell *matHeaderCellDef>
                  {{ "general.available" | translate }}
                </th>
                <td mat-cell *matCellDef="let variant">
                  {{ variant.availableStock }}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
        </div>
      </div>
    }
  </div>
