<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<!-- Header Section Begin -->
<header class="header shadow-sm">
  <!-- Top Bar -->
  <div class="header__top text-light py-1">
    <div
      class="container d-flex justify-content-between align-items-center flex-wrap small"
    >
      <div>
        SAME-DAY DELIVERY IN JORDAN
        <img
          src="./assets/img/icon/output-onlinepngtools.png.webp"
          width="35"
          height="23"
          alt="Delivery"
          class="img-fluid"
        />
      </div>
      <div class="d-flex align-items-center gap-3">
        <a href="https://facebook.com" target="_blank" class="text-light"
          ><i class="fa fa-facebook-f"></i
        ></a>
        <a href="https://instagram.com" target="_blank" class="text-light"
          ><i class="fa fa-instagram"></i
        ></a>
        <a href="https://twitter.com" target="_blank" class="text-light"
          ><i class="fa fa-twitter"></i
        ></a>
        <a
          href="#"
          class="text-light"
          data-bs-toggle="modal"
          data-bs-target="#newsletterModal"
        >
          <i class="fa fa-envelope"></i> Newsletter
        </a>
      </div>
    </div>
  </div>

  <!-- Main Header -->
  <div class="container py-3 containerMenu">
    <div class="row align-items-center">
      <!-- Search + Lang -->
      <div
        class="col-12 col-md-4 mb-2 mb-md-0 d-flex flex-wrap justify-content-between"
      >
        <div class="search-wrapper flex-grow-1 me-2">
          <input
            type="text"
            class="form-control rounded-pill"
            placeholder="Search ..."
            aria-label="Search"
          />
        </div>
        <div class="lang mt-2 mt-sm-0">
          <span
            (click)="switchLanguage('en')"
            *ngIf="currentLang === 'ar'"
            class="d-flex align-items-center gap-1"
            style="cursor: pointer"
          >
            <i class="fa fa-globe"></i> English
          </span>
          <span
            (click)="switchLanguage('ar')"
            *ngIf="currentLang === 'en'"
            class="d-flex align-items-center gap-1"
            style="cursor: pointer"
          >
            <i class="fa fa-globe"></i> عربي
          </span>
        </div>
      </div>

      <!-- Logo -->
      <div class="col-12 col-md-4 text-center mb-2 mb-md-0">
        <img
          src="./assets/img/icon/Zajel_logo_blue1-700x280.png.webp"
          alt="Logo"
          width="120"
          height="50"
          class="img-fluid"
        />
      </div>

      <!-- Cart -->
      <div class="col-12 col-md-4 text-md-end text-center mt-2">
        <p class="mb-0">
          {{ "general.login" | translate }} |
          <a
            href="#"
            class="text-dark position-relative mx-2"
            aria-label="Shopping cart"
          >
            <i class="fa fa-shopping-cart fs-5"></i>
            <span
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
              >0</span
            >
          </a>
          JOR 10
        </p>
      </div>
    </div>

    <hr class="mb-0" />
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg mt-2">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#mainMenu"
        aria-controls="mainMenu"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fa fa-bars"></i>
      </button>

      <div
        class="collapse navbar-collapse justify-content-center"
        id="mainMenu"
      >
        <ul class="navbar-nav">
          <li class="nav-item header__top__hover mx-2">
            <span>{{ "general.product-type" | translate }}</span>
            <ul class="">
              <li>
                <a class="dropdown-item">{{ "general.en" | translate }}</a>
              </li>
            </ul>
          </li>
          <li class="nav-item header__top__hover mx-2">
            <span>{{ "general.about" | translate }}</span>
            <ul class="">
              <li>
                <a class="dropdown-item">{{ "general.about" | translate }}</a>
              </li>
            </ul>
          </li>
          <li class="nav-item header__top__hover mx-2">
            <span>{{ "general.contactus" | translate }}</span>
            <ul class="">
              <li>
                <a class="dropdown-item">{{
                  "general.contactus" | translate
                }}</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<mat-sidenav-container autosize>
  <mat-sidenav
    [ngClass]="!isCollapsed ? '' : 'expanded'"
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="isMobile ? 'false' : 'true'"
  >
    <mat-nav-list>
      <a mat-list-item (click)="toggleMenu()">
        <span class="entry">
          <mat-icon>menu</mat-icon>
        </span>
      </a>
      <a mat-list-item>
        <span class="entry">
          <mat-icon>house</mat-icon>
          <span *ngIf="!isCollapsed">{{
            "general.dashboard" | translate
          }}</span>
        </span>
      </a>
      <a mat-list-item>
        <span class="entry" (click)="goProductS()">
          <mat-icon>drag_indicator</mat-icon>
          <span *ngIf="!isCollapsed">{{ "general.product" | translate }}</span>
        </span>
      </a>
      <a mat-list-item>
        <span class="entry" (click)="gocategory()">
          <mat-icon> merge_type</mat-icon>
          <span *ngIf="!isCollapsed">{{ "general.category" | translate }}</span>
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-footer></app-footer>
