<div class="container my-5 product-view">
  <div class="row">
    <div class="mb-3">
      <h3 class="section-title section-title-center m-0">
        <b aria-hidden="true"></b>
        <span class="section-title-main m-0">{{ product.name.local }}</span>
        <b aria-hidden="true"></b>
      </h3>
    </div>
    <div class="col-md-6 image-gallery">
      <swiper-container
        slides-per-view="1"
        space-between="20"
        pagination="true"
        navigation="true"
        speed="3000"
        loop="true"
        class="my-swiper"
        autoplay='{
                  "delay": 3000,
                  "disableOnInteraction": false
                }'
      >
        @for (item of product.images; track $index) {
        <swiper-slide>
          <app-image [src]="item.guidName" alt="Thumbnail Image"></app-image>
        </swiper-slide>
        }
      </swiper-container>
    </div>

    <div class="col-md-6 product-info">
      <div class="customization">
        <div
          class="customization-item d-flex justify-content-between align-items-center"
        >
          <h4 class="text-titel">{{ product.name.local }}</h4>
        </div>
        <div class="customization-item">
          @if (product.priceBeforeDiscount!=null&&
          product.priceBeforeDiscount>0) {
          <span class="text-muted text-decoration-line-through py-1 px-2">
            {{ product.priceBeforeDiscount }} {{ "general.JOD" | translate }} /
          </span>
          }
          <span class="text-danger fw-bold py-1 px-2">
            {{ product.price }} {{ "general.JOD" | translate }}
          </span>
        </div> 
        <div class="star-rating pb-2">
          <i *ngFor="let star of stars" 
            class="fa fa-star cursor-pointer"
            [class.checked]="star <= currentRating"
            (click)="rate(star)"
            onKeyPress="rate(star)"
          >
          </i
          >({{ product.averageRating }}/5)
        </div>
        @if(product.count==0){
        <div>
          <mat-icon>report_problem</mat-icon>
          <p class="out-of-stock">{{ "general.out-of-stock" | translate }}</p>
        </div>
        }
        <div
          class="customization-item d-flex justify-content-between align-items-center"
        >
          <span class="text-description py-1 px-2">{{
            product.description.local
          }}</span>
        </div>
        @for (item of keyAttributes; track $index) {
        <div class="customization-item py-2 text-description">
          <label class="fw-bold d-block mb-2">{{ item.name.local }}</label>

          <div class="d-flex flex-wrap gap-3">
            @for (val of item.keyAttributeValues; track $index) {
            <div class="form-check-label d-flex align-items-center gap-2">
              <input
                type="radio"
                [value]="val.id"
                [id]="'val-' + val.id"
                [name]="'attr-' + item.id"
                [checked]="val.iselected"
                (change)="onAttributeSelected(item, val)"
              />
              <label class="form-check-label" [for]="'val-' + val.id">
                {{ val.value.local }}
              </label>
            </div>
            }
          </div>
        </div>
        }
      </div>
      <div class="summary">
        <div
          class="d-flex justify-content-between fw-bold mb-2 align-items-center"
        >
          <span>{{ "general.quantity" | translate }}:</span>
          <span class="text-titel quantity">
            <a class="mx-2" (click)="increment()">+</a>
            <span class="mx-5">{{ this.item.quantity }}</span>
            <a class="mx-2" (click)="decrement()">-</a>
          </span>
        </div>
        <div
          class="d-flex justify-content-between fw-bold mb-4 align-items-center"
        >
          <span>{{ "general.total" | translate }}:</span>
          <span class="text-titel">
            {{ "general.JOD" | translate }}
            {{ this.item.quantity * (product.price ?? 0) }}</span
          >
        </div>

        <button class="btn btn-primary w-100" (click)="addToCart()">
          {{ "product.order-now" | translate }}
        </button>
        <div class="mt-2 text-center">
          <img
            src="./assets/img/icon/pay.svg"
            alt="Visa"
            height="24"
            class="m-1"
          />
          <img
            src="./assets/img/icon/paypal.svg"
            alt="Visa"
            height="24"
            class="m-1"
          />
          <img
            src="./assets/img/icon/visa.svg"
            alt="Visa"
            height="24"
            class="m-1"
          />
        </div>
      </div>
    </div>
    <div class="col-md-12">
      @defer (on viewport ) {
      <app-comment-manage-with-list [productId]="id"></app-comment-manage-with-list>
      } @placeholder {
      <div class="placeholder-box">انزل لأسفل لرؤية التعليقات</div>
      }
    </div>
  </div>
</div>

<hr class="mx-5" />
<app-reviews-section></app-reviews-section>

<ng-template #attributeOptionsTemplate let-attr>
  <div *ngFor="let attr of keyAttributes">
    <label>{{ attr.name.local }}</label>
    <div *ngFor="let opt of attr.keyAttributeValues">
      <button (click)="selectOption(attr, opt)">
        {{ opt.value.local }}
      </button>
    </div>
  </div>
</ng-template>
