#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transition: all 0.3s;
  }
  
  #sidebar.active {
    left: -250px;
  }
  
  .content {
    margin-left: 250px;
    transition: margin-left 0.3s;
  }
  
  .active + .content {
    margin-left: 0;
  }
  