<div class="search-motion-container">
  <div class="input-group modern-search-box">
    <input
      type="text"
      class="form-control search-input-field"
      placeholder="{{ 'general.search' | translate }}..."
      aria-label="Search"
      [(ngModel)]="nameOfProduct"
      (keyup.enter)="nameOfProduct ? searchTrigger.click() : null"
    />

    <button
      #searchTrigger
      type="button"
      class="btn search-submit-btn"
      [routerLink]="
        nameOfProduct ? ['/user/category/list-product', nameOfProduct] : null
      "
      [attr.disabled]="!nameOfProduct ? true : null"
    >
      <i class="fa fa-search search-icon-animate"></i>
    </button>
  </div>
</div>
