@use "../../assets/sass/variable" as *;

.variants-section {
  margin-top: 2rem;
  padding-top: 1.5rem;
  border-top: 1px solid $border;

  .variants-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
}

.required {
  color: $danger-color;
  margin-left: 4px;
}

.shared-price-stock {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: 1.5rem;
}
