@use "../../assets/sass/variable" as *;

.variants-section {
  margin-top: 2rem;
  padding-top: 1.5rem;
  border-top: 1px solid $border;

  .variants-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  td .form-group {
    min-width: 130px;
  }

  .cost-input {
    min-width: 130px;
  }
}

.required {
  color: $danger-color;
  margin-left: 4px;
}
