<div class="container manage">
  <h3 class="title">
    @if(isAdd){
    {{ "category.add-category" | translate }}
    }@else {
    {{ "category.edit-category" | translate }}
    }
  </h3>
  <form (ngSubmit)="save(productForm)" #productForm="ngForm">
    <div class="row">
      <div class="form-group col-6">
        <label for="nameEn">{{ "general.nameEn" | translate }}</label>
        <input
          type="text"
          class="form-control"
          id="nameEn"
          required=""
          name="nameEn"
          [(ngModel)]="entity.name.english"
        />
      </div>
      <div class="form-group col-6">
        <label for="nameAr">{{ "general.nameAr" | translate }}</label>
        <input
          type="text"
          class="form-control"
          id="nameAr"
          required=""
          name="nameAr"
          [(ngModel)]="entity.name.arabic"
        />
      </div>
      <div class="form-group">
        <app-multi-image-upload 
          name="images"
          [(ngModel)]="entity.images"
        ></app-multi-image-upload>
      </div>
      <div class="btn-container">
        <button class="btn btn-secondary" (click)="goBack()">
          {{ "general.back" | translate }}
        </button>
        <button type="submit" class="btn btn-primary mx-2">
          {{ "general.save" | translate }}
        </button>
      </div>
    </div>
  </form>
</div>
