@use "mixins" as m;
@use "variable" as *;
.navbarr {
  .tog {
    border: 1px solid $border-1;
    background-color: $white-color;
    border-radius: 2px;
    color: $primary-color;
  }
  .nav_bar__option {
    text-align: right;
    padding: 0.3rem 0;
    font-size: small;
  }
}

/* container */
.sidenavv {
  /* nav items */
  .mat-nav-list {
    display: flex;
    flex-direction: column;
  }
  .mat-nav-list a {
    border-radius: 999px;
    margin: 6px 8px;
    font-size: 18px;
    font-weight: 600;
    color: var(--text-default);
  }

  /* icon */
  .mat-nav-list mat-icon {
    margin-right: 16px;
    color: inherit;
  }

  /* hover */
  mat-nav-list a:hover {
    background: var(--hover-bg);
  }

  /* active */
  mat-nav-list a.active {
    color: var(--text-active);
    background: var(--hover-bg);
  }

  /* ripple fix */
  mat-nav-list a .mat-ripple-element {
    opacity: 0.15;
  }
}
