// .navbar {
//   background-color: #fff;
//   border-bottom: 1px solid #ddd;

//   .navbar-toggler {
//     border: none;
//     background: transparent;
//     font-size: 1.5rem;
//   }

//   .header__top__hover {
//     position: relative;

//     ul {
//       display: none;
//       position: absolute;
//       background-color: #fff;
//       list-style: none;
//       padding: 0.5rem;
//       border: 1px solid #ccc;
//       border-radius: 4px;
//       z-index: 10;
//     }

//     &:hover ul {
//       display: block;
//     }
//   }

//   .menu-icon {
//     font-size: 1.2rem;
//     vertical-align: middle;
//   }

//   @media (max-width: 991px) {
//     .navbar-nav {
//       flex-direction: column;
//       align-items: flex-start;

//       .header__top__hover ul {
//         position: relative;
//         display: block;
//         border: none;
//         padding-left: 1rem;
//       }
//     }
//   }
// }
