<nav class="navbarr mt-2">
  <button
    class="mobile tog"
    type="button"
    (click)="toggleMenu()"
    aria-label="Toggle navigation"
  >
    <i class="fa fa-bars"></i>
  </button>

  <div class="navbar-list justify-content-center" *ngIf="menuOpen || !isMobile" >
    <!-- ========================================================================= -->
    <div
      [matMenuTriggerFor]="category"
      class="nav_bar__option text-description mx-2"
    >
      <span class="mobile"><mat-icon class="menu-icon">minimize</mat-icon></span
      >
      <span>{{ "category.category" | translate }}</span>
    </div>
    <div
      [matMenuTriggerFor]="subCategory"
      class="nav_bar__option text-description mx-2"
    >
      <span  class="mobile"
        ><mat-icon class="menu-icon">minimize</mat-icon></span
      >
      <span>{{ "category.subCategory" | translate }}</span>
    </div>
 
    <div class="nav_bar__option text-description mx-2 mobile">
      <app-language-button></app-language-button>
    </div>
    <div class="nav_bar__option mx-2 mobile">
      <p class="mb-0 d-inline-flex align-items-center">
        <a class="text-dark position-relative" aria-label="Shopping cart">
          <mat-icon class="menu-icon">shopping_cart</mat-icon>
          <span
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger text-light"
          >
            {{ cartCount }}
          </span>
        </a>
        <span class="ms-2"
          >{{ "general.JOD" | translate }} {{ cartTotal }}</span
        >
      </p>
    </div> 
    <mat-menu #category="matMenu" class="sub-list">
      <div 
        *ngFor="let item of categoryResult; trackBy: trackById"
        class="nav-item"
      >
        <a
          class="dropdown-item"
          [routerLink]="['/user','category', item.id, 'product-category']"
          (click)="menuOpen = false"
        >
          {{ item.name.local }}
        </a>
      </div>
    </mat-menu>
    <mat-menu #subCategory="matMenu" class="sub-list">
      <div 
        *ngFor="let item of productCategories; trackBy: trackById"
        class="nav-item"
      >
        <a
          class="dropdown-item" 
          [routerLink]="['/user','category',item.categoryId,'product-category',item.id,'product']"
        >
          {{ item.name.local }}
        </a>
      </div>
    </mat-menu>
    <!-- ========================================================================= -->
  </div>
</nav>
