<div class="container manage">
  <h3 class="title">
    @if(isAdd){
    {{ "slider.add-slider" | translate }}
    }@else {
    {{ "slider.edit-slider" | translate }}
    }
  </h3>
  <form (ngSubmit)="save(sliderForm)" #sliderForm="ngForm">
    <div class="row">
      <div class="form-group col-6">
        <label for="titleEn">{{ "general.titleEn" | translate }}</label>
        <input
          type="text"
          class="form-control"
          id="titleEn"
          required
          name="titleEn"
          maxlength="40"
          [(ngModel)]="entity.title.english"
          #titleEn="ngModel"
        />
        <app-form-error [control]="titleEn"></app-form-error>
      </div>
      <div class="form-group col-6">
        <label for="titleAr">{{ "general.titleAr" | translate }}</label>
        <input
          type="text"
          class="form-control"
          id="titleAr"
          required
          name="titleAr"
          maxlength="40"
          [(ngModel)]="entity.title.arabic"
        />
      </div>
      <div class="form-group col-6">
        <label for="descriptionAr">{{
          "general.descriptionAr" | translate
        }}</label>
        <textarea
          class="form-control"
          id="descriptionEn"
          [rows]="3"
          name="descriptionAr"
          maxlength="100"
          [(ngModel)]="entity.description.arabic"
          #descriptionAr="ngModel"
        ></textarea>
        <app-form-error [control]="descriptionAr"></app-form-error>
      </div>
      <div class="form-group col-6">
        <label for="descriptionEn">{{
          "general.descriptionEn" | translate
        }}</label>
        <textarea
          class="form-control"
          id="descriptionEn"
          [rows]="3"
          name="descriptionEn"
          maxlength="100"
          [(ngModel)]="entity.description.english"
          #descriptionEn="ngModel"
        ></textarea>
        <app-form-error [control]="descriptionEn"></app-form-error>
      </div>

      <div class="form-group">
        <app-multi-image-upload
          name="images"
          required
          [aspectRatio]="16 / 9"
          #images="ngModel"
          [(ngModel)]="entity.images"
        ></app-multi-image-upload>
        <app-form-error [control]="images"></app-form-error>
        @if(entity.images.length>1){
        <small class="text-danger">
          {{ "slider.slider-image" | translate }}
        </small>
        }
      </div>
      <div class="btn-container">
        <button class="btn btn-secondary" (click)="goBack()">
          {{ "general.back" | translate }}
        </button>
        <button type="submit" class="btn btn-primary mx-2" [disabled]="entity.images.length>1">
          {{ "general.save" | translate }}
        </button>
      </div>
    </div>
  </form>
</div>
