<!-- <div class="d-inline-flex">
  @if(currentLang === 'ar' || currentLang !== 'en'){ 
  <span> <mat-icon class="menu-icon">language</mat-icon> </span>
  <a (click)="switchLanguage('en')">English</a>
  } @if( currentLang === 'en'){ 
  <span> <mat-icon class="menu-icon">language</mat-icon></span>
  <a (click)="switchLanguage('ar')">عربي</a>
  }
</div> -->


<div class="auth-wrapper language-switcher d-inline-flex align-items-center"  (click)="switchLanguage()">
  <span class="icon-container">
    <mat-icon class="menu-icon">language</mat-icon>
  </span>

  <span class="link-container">
    @if (currentLang === 'ar') {
      <a class="auth-link" >English</a>
    } @else {
      <a class="auth-link">عربي</a>
    }
  </span>
</div>