<!-- <div class="d-inline-flex">
  @if(currentLang === 'ar' || currentLang !== 'en'){ 
  <span> <mat-icon class="menu-icon">language</mat-icon> </span>
  <a (click)="switchLanguage('en')">English</a>
  } @if( currentLang === 'en'){ 
  <span> <mat-icon class="menu-icon">language</mat-icon></span>
  <a (click)="switchLanguage('ar')">عربي</a>
  }
</div> -->

<div class="auth-wrapper d-inline-flex">
  <span class="icon-container">
    <mat-icon class="menu-icon">language</mat-icon>
  </span>

  <span class="link-container">
    @if(currentLang === 'ar' || currentLang !== 'en'){ 
      <a class="auth-link" (click)="switchLanguage('en')">English</a>
    } 
    
    @if(currentLang === 'en'){ 
      <a class="auth-link" (click)="switchLanguage('ar')">عربي</a>
    }
  </span>
</div>


