<div class="row m-5">
  <div class="col-12 col-md-6">
    <div
      Class="login-wrapper d-flex align-items-center justify-content-center my-5"
    >
      <div class="">
        <form #registerForm="ngForm" (ngSubmit)="save(registerForm)" novalidate>
          <h2 class="mb-4 text-titel">
            {{ "general.createUser" | translate }}
          </h2>
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="mb-3">
                <label class="form-label">{{
                  "general.fullName" | translate
                }}</label>
                <input
                  type="text"
                  class="form-control"
                  name="fullName"
                  #fullname="ngModel"
                  [(ngModel)]="user.fullName"
                  required
                />
                <app-form-error [control]="fullname"></app-form-error>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="mb-3">
                <label class="form-label">{{
                  "general.email" | translate
                }}</label>
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  [(ngModel)]="user.email"
                  required
                  email
                  #email="ngModel"
                />
                <app-form-error [control]="email"></app-form-error>
              </div>
            </div>
            <div class="col-md-12 col-12">
              <div class="mb-3">
                <label class="form-label">{{
                  "general.phone" | translate
                }}</label>
                <input
                  type="tel"
                  class="form-control"
                  name="phone"
                  [(ngModel)]="user.phoneNumber"
                  required
                  #phone="ngModel"
                />
                <app-form-error [control]="phone"></app-form-error>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="mb-3">
                <label class="form-label">{{
                  "general.password" | translate
                }}</label>
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  [(ngModel)]="user.password"
                  required
                  minlength="6"
                  #password="ngModel"
                />
                <app-form-error [control]="password"></app-form-error>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="mb-3">
                <label class="form-label">{{
                  "general.confirmPassword" | translate
                }}</label>
                <input
                  type="password"
                  class="form-control"
                  name="confirmPassword"
                  [(ngModel)]="user.confirmPassword"
                  required
                  #confirmpassword="ngModel"
                />

                <app-form-error [control]="confirmpassword"></app-form-error>
                @if( registerForm.submitted && user.confirmPassword !==
                user.password){
                <div class="text-danger">
                  {{ "errors.passwordMismatch" | translate }}
                </div>
                }
              </div>
            </div>
          </div>
          <div class="my-2">
            <small
              >{{ "general.do-have-account" | translate }}
              <a [routerLink]="['/user', 'login']">{{
                "general.login" | translate
              }}</a></small
            >
          </div>
          <button type="submit" class="btn btn-primary w-100">
            {{ "general.register" | translate }}
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-12">
    <div
      class="d-flex flex-column align-items-center justify-content-center h-100"
    >
      <img src="./assets/img/R.png" alt="" />
    </div>
  </div>
</div>
