    <div class="">
      <form #registerForm="ngForm" (ngSubmit)="save(registerForm)" novalidate>
        <h2 class="mb-4 text-center">{{ "general.createUser" | translate }}</h2>

        <!-- الاسم الكامل -->
        <div class="mb-3">
          <label class="form-label">{{ "general.fullName" | translate }}</label>
          <input
            type="text"
            class="form-control"
            name="fullName"
            [(ngModel)]="user.fullName"
            required
          />
          <div
            *ngIf="registerForm.submitted && !user.fullName"
            class="text-danger"
          >
            {{ "errors.fullNameRequired" | translate }}
          </div>
        </div>

        <!-- البريد الإلكتروني -->
        <div class="mb-3">
          <label class="form-label">{{ "general.email" | translate }}</label>
          <input
            type="email"
            class="form-control"
            name="email"
            [(ngModel)]="user.email"
            required
            email
          />
          <div
            *ngIf="
              registerForm.submitted && registerForm.controls['email']?.invalid
            "
            class="text-danger"
          >
            {{ "errors.invalidEmail" | translate }}
          </div>
        </div>

        <!-- رقم الهاتف -->
        <div class="mb-3">
          <label class="form-label">{{ "general.phone" | translate }}</label>
          <input
            type="tel"
            class="form-control"
            name="phone"
            [(ngModel)]="user.phoneNumber"
            required
          />
          <div
            *ngIf="registerForm.submitted && !user.phoneNumber"
            class="text-danger"
          >
            {{ "errors.phoneRequired" | translate }}
          </div>
        </div>

        <!-- كلمة المرور -->
        <div class="mb-3">
          <label class="form-label">{{ "general.password" | translate }}</label>
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="user.password"
            required
            minlength="6"
          />
          <div
            *ngIf="
              registerForm.submitted &&
              registerForm.controls['password'].invalid
            "
            class="text-danger"
          >
            {{ "errors.passwordMinLength" | translate }}
          </div>
        </div>

        <!-- تأكيد كلمة المرور -->
        <div class="mb-3">
          <label class="form-label">{{
            "general.confirmPassword" | translate
          }}</label>
          <input
            type="password"
            class="form-control"
            name="confirmPassword"
            [(ngModel)]="user.confirmPassword"
            required
          />
          <div
            *ngIf="
              registerForm.submitted && user.confirmPassword !== user.password
            "
            class="text-danger"
          >
            {{ "errors.passwordMismatch" | translate }}
          </div>
        </div>

        <button
          type="submit"
          class="btn btn-primary w-100"
          [disabled]="registerForm.invalid"
        >
          {{ "general.register" | translate }}
        </button>
      </form>
    </div>