<!-- Hero Section Begin -->
<ng-container ngSkipHydration>
  <section class="hero">
    <div class="hero__slider owl-carousel">
      <div
        class="hero__items set-bg"
        [ngStyle]="{
          'background-image':
            'url(assets/img/hero/380a0558-d7d3-4fbf-bc0d-1f987fb6fdb3.png)'
        }"
      >
        <div class="container">
          <div class="row">
            <div class="col-xl-5 col-lg-7 col-md-8">
              <div class="hero__text">
                <h6>Your Perfect Gift</h6>
                <h2>Exclusive Collection of Watches, Perfumes & Flowers</h2>
                <p>
                  Discover carefully selected gifts, from luxurious perfumes and
                  stylish watches to chocolates, cakes, and flowers, making
                  every occasion truly special.
                </p>
                <div class="hero__social">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-pinterest"></i></a>
                  <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="hero__items set-bg"
        [ngStyle]="{
          'background-image': 'url(assets/img/hero/pexels-zvolskiy-1805597.jpg)'
        }"
      >
        <div class="container">
          <div class="row">
            <div class="col-xl-5 col-lg-7 col-md-8">
              <div class="hero__text">
                <h6>Your Perfect Gift</h6>
                <h2>Exclusive Collection of Watches, Perfumes & Flowers</h2>
                <p>
                  Discover carefully selected gifts, from luxurious perfumes and
                  stylish watches to chocolates, cakes, and flowers, making
                  every occasion truly special.
                </p>
                <div class="hero__social">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-pinterest"></i></a>
                  <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>
