<search-page
  [(pagedResult)]="dataEntity" 
  [filter]="filter"
  (resetBase)="reset()"
  (searchBase)="search()" 
>
  <page-header
    [title]="'delivery.delivery-zone-list' | translate"
    [label]="'product-collection.manage-collections' | translate"
    [icon]="'category'"
  >
    <header-actions>
      <button
        type="button"
        class="btn btn-secondary"
        [routerLink]="['delivery-time-slot-list']"
      >
        {{ "delivery.delivery-time-slot-list" | translate }}
      </button>
      <button
        class="btn btn-icon"
        (click)="toggleFilter()"
        tooltip="product-collection.filter"
      >
        <mat-icon>filter_list</mat-icon>
      </button>
      <button
        class="btn btn-icon"
        (click)="manageZone(undefined)"
        icon="add"
        tooltip="product-collection.add-new-collection"
      >
        <mat-icon>add</mat-icon>
      </button>
    </header-actions>
  </page-header>

  @if (filterVisible()) {
    <page-filter>
      <div class="filter-panel">
        <form>
          <div class="filter-row">
            <div class="filter-field">
              <label for="name" class="form-label-custom" translate>
                {{ "general.name" | translate }}
              </label>
              <div class="filter-input-wrapper">
                <span class="material-icons filter-input-icon">search</span>
                <input
                  type="name"
                  id="name"
                  [(ngModel)]="filter.name"
                  name="name"
                  class="form-control filter-input"
                  placeholder="{{
                    'product-collection.search-by-name-code-description'
                      | translate
                  }}"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
    </page-filter>
  }

  <grid-result-body [allowExpand]="false">
    <grid-column label="general.name" field="name.local"></grid-column>
    <grid-column
      label="delivery.base-delivery-cost"
      field="baseDeliveryCost"
    ></grid-column>
    <grid-column label="product-collection.actions" field="actions">
      <ng-template let-data>
        <div class="action-cell">
          <ui-button
            icon="edit"
            iconOnly
            variant="ghost"
            variantIcon="ghost"
            size="xs"
            (click)="manageZone(data.id)"
            tooltip="{{ 'general.edit' | translate }}"
          >
          </ui-button>

          <!-- <ui-button
            [icon]="data.isActive ? 'toggle_off' : 'toggle_on'"
            iconOnly
            variant="ghost"
            [variantIcon]="data.isActive ? 'warning' : 'success'"
            size="xs"
            (click)="toggleActive(data)"
            [tooltip]="(data.isActive ? 'general.deactivate' : 'general.activate') | translate">
          </ui-button> -->

          <!-- <ui-button icon="delete" iconOnly variant="ghost" variantIcon="danger" size="xs"
          (click)="deleteCollection(data)" tooltip="{{ 'general.delete' | translate }}">
          </ui-button> -->
        </div>
      </ng-template>
    </grid-column>
  </grid-result-body>
</search-page>
