@use "variable" as *;

.containerr {
  &::before {
    content: "";
    position: absolute;
    height: 2000px;
    width: 2000px;
    top: -10%;
    right: 40%;
    transform: translateY(-50%);
    background-image: linear-gradient(
      45deg,
      $primary-color 0%,
      $primary-color 100%
    );
    transition: 1.8s ease-in-out;
    border-radius: 50%;
    z-index: 6;
  }
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
  .back {
    position: absolute;
    top: 12px;
    right: 50px;
    background-color: $primary-color;
    padding: 6px 20px;
    border-radius: 15px;
    z-index: 20;
  }
  .back a {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: medium;
  }
  .back:hover {
    background-color: #333;
    transition: 0.7s;
  }
  .forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .sign-up-mode {
    transform: translate(-50%, -50%);
    transition: 1.8s ease-in-out;
  }
  .signin-signup {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 75%;
    width: 50%;
    transition: 1s 0.7s ease-in-out;
    display: grid;
    z-index: 5;

    .sign-up-form {
      &::before {
        transform: translate(100%, -50%);
        right: 52%;
      }
      opacity: 0;
      z-index: 1;
      left: 25%;
    }

    .sign-in-form {
      z-index: 2;
    }
    .sign-in-form,
    .sign-up-form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0rem 0rem;
      transition: all 0.2s 0.7s;
      overflow: hidden;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      .title {
        font-size: 2.2rem;
        color: #444;
        margin-bottom: 10px;
      }

      .input-field {
        max-width: 380px;
        width: 100%;
        background-color: #f0f0f0;
        margin: 10px 0;
        height: 55px;
        border-radius: 55px;
        display: grid;
        grid-template-columns: 15% 85%;
        padding: 0 0.4rem;
        position: relative;
      }

      .input-field {
        i {
          text-align: center;
          line-height: 55px;
          color: #acacac;
          transition: 0.5s;
          font-size: 1.1rem;
        }

        input {
          background: none;
          outline: none;
          border: none;
          line-height: 1;
          font-weight: 600;
          /*    font-size: 1.1rem;*/
          color: #333;
        }

        input[type="file" i] {
          font-size: 10px;
          padding-top: 21px;
        }

        input::placeholder {
          color: #aaa;
          font-weight: 500;
        }
      }

      .social-text {
        padding: 0.7rem 0;
        font-size: 1rem;
      }
      .social-media {
        display: flex;
        justify-content: center;

        .social-icon {
          height: 46px;
          width: 46px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 0.45rem;
          color: #333;
          border-radius: 50%;
          border: 1px solid #333;
          text-decoration: none;
          font-size: 1.1rem;
          transition: 0.3s;
        }
        .social-icon:hover {
          color: $primary-color;
          border-color: $primary-color;
        }
      }
    }
  }

  .panels-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .panel {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      text-align: center;

      .right-panel {
        pointer-events: none;
        transform: translateX(800px);
        opacity: 0;
      }
      .left-panel {
        transform: translateX(0px);
        pointer-events: all;
        z-index: 6;
        opacity: 1;
      }
      .left-panel,
      .right-panel {
        transition: transform 0.6s ease;
        padding: 3rem 17% 2rem 12%;
        .image {
          width: 100%;
          transition: transform 1.1s ease-in-out;
          transition-delay: 0.4s;
        }

        .content {
          color: #fff;
          transition: transform 0.9s ease-in-out;
          transition-delay: 0.6s;
          .btn {
            .transparent {
              margin: 0;
              background: none;
              border: 2px solid #fff;
              width: 130px;
              height: 41px;
              font-weight: 600;
              font-size: 0.8rem;
            }
          }

          h3 {
            color: #fff;
            font-weight: 600;
            line-height: 1;
            font-size: 1.5rem;
          }

          p {
            color: #fff;
            font-size: 1rem;
            padding: 0.7rem 0;
          }
        }
      }
    }
  }
}

.sign-up-mode {
  .containerr {
    &::before {
      transform: translate(100%, -50%);
      right: 53%;
    }
    .signin-signup {
      left: 25%;
      .sign-up-form {
        opacity: 1;
        z-index: 2;
      }
      .sign-in-form {
        opacity: 0;
        z-index: 1;
      }
    }
    .panels-container {
      .panel {
        .left-panel {
          pointer-events: none;
          opacity: 0;
          transform: translateX(0);
        }
        .right-panel {
          pointer-events: all;
          transform: translateX(0px);
          z-index: 6;
          opacity: 1;
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .containerr {
    // &::before {
    //   right: 38%;
    // }

    min-height: 775px;
    .signin-signup {
      width: 100%;
      top: 100%;
      transform: translate(-50%, -100%);
      transition: 1s 0.8s ease-in-out;
    }
    .panels-container {
      left: 0%;
      .panel {
        .right-panel {
          padding: 0rem 0% 0rem 0%;
          transform: translateX(290px);
        }
        .left-panel {
          padding: 0rem 0% 0rem 0%;
        }
        .right-panel,
        .left-panel {
          .image {
            width: 350px;
          }
          .content {
            h3 {
              font-size: 1.2rem;
            }

            p {
              font-size: 1rem;
              padding: 0.5rem 0;
            }
            .btn.transparent {
              width: 110px;
              height: 35px;
              font-size: 0.7rem;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 870px) {
  .containerr {
    &::before {
      width: 1500px;
      height: 1500px;
      transform: translateX(-50%);
      left: 30%;
      bottom: 68%;
      right: initial;
      top: initial;
      transition: 2s ease-in-out;
    }
    height: 1100px;

    grid-template-columns: repeat(1, 1fr);
    .btn.transparent {
      width: 110px;
      height: 35px;
      font-size: 0.7rem;
    }
    .signin-signup {
      width: 100%;
      top: 95%;
      transform: translate(-50%, -100%);
      transition: 1s 0.8s ease-in-out;
      left: 50%;
    }

    .panels-container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr 1fr;
      left: 0%;
      .panel {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2.5rem 0%;
        // .right-panel {
        //   //// grid-row: 3 / 4;
        // }

        .left-panel {
          //grid-row: 1 / 2;
          transform: translateX(0px);
          padding: 0rem 0% 14rem 0%;
        }

        .left-panel .image,
        .right-panel .image {
          width: 200px;
          transition: transform 0.9s ease-in-out;
          transition-delay: 0.6s;
        }

        .left-panel .content,
        .right-panel .content {
          // padding-right: 15%;
          transition: transform 0.9s ease-in-out;
          transition-delay: 0.8s;

          h3 {
            font-size: 0.9rem;
          }

          p {
            font-size: 0.9rem;
            padding: 0.5rem 0;
          }
        }
      }
    }
  }

  .sign-up-mode .containerr {
    &::before {
      transform: translate(-50%, 100%);
      bottom: 32%;
      right: initial;
    }
    min-height: 1000px;
    .signin-signup {
      top: 57%;
      left: 50%;
    }
    .panels-container {
      left: 0%;
      .panel {
        .right-panel {
          transform: translateY(74%);
          padding: 0rem 0% 0rem 0%;
        }

        .left-panel {
          transform: translateY(-300px);
          padding: 0rem 0% 14rem 0%;
        }

        .left-panel .image,
        .right-panel .image {
          width: 200px;
          transition: transform 0.9s ease-in-out;
          transition-delay: 0.6s;
        }

        .left-panel .content,
        .right-panel .content {
          //padding-right: 15%;
          transition: transform 0.9s ease-in-out;
          transition-delay: 0.8s;

          h3 {
            font-size: 1.2rem;
          }

          p {
            font-size: 0.9rem;
            padding: 0.5rem 0;
          }

          .btn.transparent {
            width: 110px;
            height: 35px;
            font-size: 0.7rem;
          }
        }
      }
    }
  }
}

@media (max-width: 570px) {
  .containerr {
    height: 1100px;
  }
  .sign-up-mode {
    .containerr {
      .panels-container {
        .panel {
          .right-panel {
            transform: translateY(254px);
            padding: 0rem 0% 0rem 0%;
          }
        }
      }
    }
  }
  form {
    padding: 0 1.5rem;
  }

  .image {
    display: none;
  }
  .panel .content {
    padding: 0.5rem 1rem;
  }
  .containerr {
    padding: 1.5rem;
  }

  .containerr:before {
    bottom: 72%;
    left: 50%;
  }

  .containerr.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}

.btn-log { 
  // outline: none; 
  // text-transform: uppercase;
  // font-weight: 600;
  margin: 10px 0;
  // cursor: pointer;
  // transition: 0.5s;
}

//.btn-log:hover {
  //background-color: $primary-color;
//}
