<div class="auth-wrapper d-inline-flex" (click)="authAction()">
  <span class="icon-container">
    <mat-icon class="menu_icon">
      {{ authService.isAuthenticatedSignal() ? "account_circle" : "login" }}
    </mat-icon>
  </span>

  @if (authService.isAuthenticatedSignal()) {
    <span class="link-container">
      <a class="auth-link">
        {{ "general.logout" | translate }}
      </a>
    </span>
  } @else {
    <span class="link-container">
      <a class="auth-link">
        {{ "general.login" | translate }}
      </a>
    </span>
  }
</div>
