<!-- <div class="d-flex">
    <nav
      id="sidebar"
      class="bg-light sidebar"
      [ngClass]="{ 'active': isSidebarActive }"
    >
      <ul class="list-unstyled">
        <li>
          <a href="#" (click)="toggleSidebar()">Toggle Sidebar</a>
        </li>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Services</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="content p-4">
      <router-outlet></router-outlet>
    </div>
  </div>
   -->