<!-- Hero Section Begin -->
<div class="listOfSlider">
  <swiper-container
    slides-per-view="1"
    space-between="20"
    navigation="true"
    pagination="true"
    class="my-swiper"
    speed="3000" 
    autoplay='{
    "delay": 3000,
    "disableOnInteraction": false
  }'
  >
    @for (item of dataSource.data; track $index) {
    <swiper-slide>
      <div
        class="hero__items set-bg" 
      >
        <app-image [src]="item.images[0].guidName"></app-image> 
      <!--   <div class="row w-100">
          <div class="col-12 col-sm-4 col-md-4 col-lg-6">
            <div class="hero__text">
              <h6>{{ item.title.local }}</h6>
              <h2>{{ item.title.local }}</h2>
              <p>{{ item.description.local }}</p>
            </div>
            <div class="hero__social">
              <a [href]="item.url" *ngFor="let item of links" target="_blank"
                ><i [class]="item.icon"></i
              ></a>
            </div>
          </div>
        </div> -->
      </div></swiper-slide
    >
    }
  </swiper-container>
</div>
