<!-- Hero Section Begin -->
<div >
  <swiper-container
    slides-per-view="1"
    space-between="20"
    navigation="true"
    pagination="true"
    class="my-swiper"
    speed="3000" 
    autoplay='{
    "delay": 3000,
    "disableOnInteraction": false
  }'
  >
    @for (item of dataSource.data; track $index) {
    <swiper-slide>
      <div
        class="set-bg" 
      >
        <app-image [src]="item.images[0].guidName"></app-image> 
 
      </div>
      </swiper-slide
    >
    }
  </swiper-container>
</div>
