<search-page
  [(pagedResult)]="dataEntity"
  [filter]="filter"
  (resetBase)="reset()"
  (searchBase)="search()"
  (pageChange)="onPageChange($event)"
>
  <page-header
    [title]="'keyAttribute.key-attribute-list' | translate"
    [label]="'keyAttribute.key-attribute-list' | translate"
    [icon]="'key'"
  >
    <header-actions>
      <div class="btn-container">
        <button
          class="btn-icon-outline"
          icon="add"
          tooltip="keyAttribute.add-new"
          [routerLink]="['/admin/keyAttribute/manage']"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </header-actions>
  </page-header>

  <grid-result-body [allowExpand]="false">
    <grid-column label="general.name" field="name">
      <ng-template let-data>
        {{ data.name?.local }}
      </ng-template>
    </grid-column>
    <grid-column label="general.actions" field="actions">
      <ng-template let-data>
        <div class="action-cell">
          <div class="btn-container">
            <button
              class="btn-icon-ghost"
              [routerLink]="[data.id, 'product-category']"
              title="{{ 'keyAttributeValue.key-attribute-value-list' | translate }}"
            >
              <span class="material-symbols-outlined">list</span>
            </button>
            <button
              class="btn-icon-ghost"
              [routerLink]="['manage', data.id]"
              title="{{ 'general.edit' | translate }}"
            >
              <span class="material-symbols-outlined">edit_document</span>
            </button>
            <button
              class="btn-icon-ghost"
              (click)="delete(data.id)"
              title="{{ 'general.delete' | translate }}"
            >
              <span class="material-symbols-outlined">delete</span>
            </button>
          </div>
        </div>
      </ng-template>
    </grid-column>
  </grid-result-body>
</search-page>
