<div class="container containerP" >
  <h2 *ngIf="isAdd">{{ "createProduct" | translate }}</h2>
  <h2 *ngIf="!isAdd">{{ "updateProduct" | translate }}</h2> 
  <form (ngSubmit)="onSubmit()" #productForm="ngForm">
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="nameEn">{{ "nameEn" | translate }}</label>
          <input
            type="text" maxlength="100" minlength="5"
            class="form-control"
            id="nameEn"
            required
            name="nameEn"
            [(ngModel)]="product.nameEn"
          />
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="nameAr">{{ "nameAr" | translate }}</label>
          <input
            type="text" maxlength="100"
            class="form-control"
            id="nameAr"
            required
            name="nameAr"
            [(ngModel)]="product.nameAr"
          />
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label for="price">{{ "price" | translate }}</label>
          <input
            type="number"
            class="form-control"
            id="price"
            name="price"
            [(ngModel)]="product.price"
            required
            step="0.01"
            required
          />
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label for="count">{{ "count" | translate }}</label>
          <input
            type="number"
            class="form-control"
            id="count"
            required
            name="count"
            [(ngModel)]="product.count"
            required
          />
        </div>
      </div>
      <div class="col-4">
        <label for="productCategoryId">{{ "selectProductCategory" | translate }}</label>
        <div class="form-group"> 
          <mat-form-field>
            <mat-select placeholder="{{'selectProductCategory' | translate }}" [(value)]="product.productCategoryId">
              <mat-option
                *ngFor="let category of categoryList"
                [value]="category.productCategoryId"
              >
                {{ category.category }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="description">{{ "descriptionEn" | translate }}</label>
          <textarea
            class="form-control"
            id="description" [rows]="3"
            name="description" maxlength="500"
            [(ngModel)]="product.descriptionEn"
          ></textarea>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="description">{{ "descriptionAr" | translate }}</label>
          <textarea
            class="form-control"
            id="descriptionAr" maxlength="500"
            name="descriptionAr" [rows]="3"
            [(ngModel)]="product.descriptionAr"
          ></textarea>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="imageUrl">Image URL</label>
      <input
        type="file"
        id="images"
        (change)="onFilesSelected($event)"
        accept="image/*"
        multiple
        class="form-control"
      />
      <!-- Thumbnail Gallery -->
      <div class="row w-100 mt-3 thumbnail-gallery">
        <div
          *ngFor="let image of product.images; let i = index"
          class="col-2 p-1"
        >
          <img
            [src]="'assets/projectImg/' + image.guidName"
            class="img-thumbnail"
            alt="Thumbnail Image"
          />
        </div>
      </div>
    </div>
    <div class="form-group d-flex justify-content-end">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
