<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <div class="row w-100">
      <div class="col-12 my-4">
        <div class="row">
          <div class="col-md-10 col-sm-12">
            <nav class="navbar navbar-expand-lg mt-2">
              <div class="navbar-collapse">
                <ul>
                  <li
                    class="nav-item header__top__hover mx-2"
                    [routerLink]="['/']"
                  >
                    <span>{{ "general.home" | translate }} > </span>
                  </li>
                  @if(filter.name==null ||filter.name!=""){
                  <li
                    class="nav-item header__top__hover mx-2"
                    *ngIf="hasData"
                    [routerLink]="['../../']"
                  >
                    <span
                      >{{
                        dataSource.data[0].productCategory.category.name.local
                      }}
                      ></span
                    >
                  </li>
                  <li class="nav-item header__top__hover mx-2">
                    <span
                      *ngIf="
                        dataSource.data[0] && dataSource.data[0].productCategory
                      "
                      >{{ dataSource.data[0].productCategory.name.local }}</span
                    >
                  </li>
                  }@else {
                  <li class="nav-item header__top__hover mx-2">
                    <span
                      >{{ "general.result-for" | translate }}
                      {{ filter.name }} ></span
                    >
                  </li>
                  }
                </ul>
              </div>
            </nav>
          </div>
          <div class="col-md-2 col-sm-12">
            <nav class="navbar navbar-expand-lg mt-2 border">
              <div class="navbar-collapse">
                <ul class="navbar-nav">
                  <li class="nav-item header__top__hover mx-2">
                    <span>{{ "general.filter-by" | translate }}</span>
                    <ul class="dropdown-menu-list">
                      <li>
                        <a
                          class="dropdown-item"
                          (click)="onSort('price', orderBy.Asc)"
                        >
                          {{ "general.price-low-high" | translate }}
                        </a>
                      </li>

                      <li>
                        <a
                          class="dropdown-item"
                          (click)="onSort('price', orderBy.Desc)"
                        >
                          {{ "general.price-high-low" | translate }}
                        </a>
                      </li>

                      <li>
                        <a
                          class="dropdown-item"
                          (click)="onSort('name', orderBy.Asc)"
                        >
                          {{ "general.A-Z" | translate }}
                        </a>
                      </li>

                      <li>
                        <a
                          class="dropdown-item"
                          (click)="onSort('name', orderBy.Desc)"
                        >
                          {{ "general.Z-A" | translate }}
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
      <div class="col-md-0 col-sm-0"></div>
      <div class="col-md-12 col-sm-12">
        @if(dataSource.data.length > 0){
        <div class="row g-4 category-section">
          @for (product of dataSource.data; track $index;) {
          <div class="col-6 col-md-3">
            <div class="product-card" [routerLink]="[product.id]">
              <div class="image-container">
                @if (product.discountRated) {
                <div class="discountRated">
                  {{ product.discountRated }} {{ "general.percent-off" | translate }}
                </div>
                }

                <swiper-container
                  slides-per-view="1"
                  speed="1500"
                  loop="true"
                  autoplay='{"delay": 3500}'
                >
                  @for (item of product.images; track $index) {
                  <swiper-slide>
                    <app-image
                      [src]="item.guidName"
                      class="main-img"
                      [alt]="product.name.local"
                    ></app-image>
                  </swiper-slide>
                  }
                </swiper-container>
              </div>

              <div class="card-body text-center">
                <p class="text-truncate px-2">{{ product.name.local }}</p>
                <div class="price-tag">
                  <small>{{ "general.JOD" | translate }}</small>
                  {{ product.price }}
                </div>
              </div>
            </div>
          </div>
          }
        </div>
        }@else{
        <app-no-data></app-no-data>
        }
      </div>
      <div class="col-12">
        <app-pagination
          [length]="totalNumberOf"
          (page)="pageChanged($event)"
          [pageSizeOptions]="pageSizeOptions"
          showFirstLastButtons
        ></app-pagination>
      </div>
    </div>
  </div>
</div>
