<search-page
  [(pagedResult)]="dataEntity"
  [filter]="filter"
  (resetBase)="reset()"
  (searchBase)="search()"
  (pageChange)="onPageChange($event)"
>
  <page-header
    [title]="'category.category-list' | translate"
    [label]="'category.category-list' | translate"
    [icon]="'category'"
  >
    <header-actions>
      <div class="btn-container">
        <button
          class="btn-icon-ghost"
          (click)="toggleFilter()"
          tooltip="category.filter"
        >
          <mat-icon>filter_list</mat-icon>
        </button>
        <button
          class="btn-icon-outline"
          icon="add"
          tooltip="category.add-new"
          [routerLink]="['/admin/category/manage']"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </header-actions>
  </page-header>

  @if (filterVisible()) {
    <page-filter>
      <div class="filter-panel">
        <form>
          <div class="filter-row">
            <div class="filter-field">
              <label for="showInMain" class="form-label-custom">
                {{ "general.showInMain" | translate }}
              </label>
              <mat-select
                id="showInMain"
                class="form-control"
                [(value)]="filter.showInMain"
              >
                <mat-option [value]="true">{{ "general.yes" | translate }}</mat-option>
                <mat-option [value]="false">{{ "general.no" | translate }}</mat-option>
              </mat-select>
            </div>
          </div>
        </form>
      </div>
    </page-filter>
  }

  <grid-result-body [allowExpand]="false">
    <grid-column label="general.categoryName" field="categoryName">
      <ng-template let-data>
        {{ data.name?.local }}
      </ng-template>
    </grid-column>
    <grid-column label="general.showInMain" field="showInMain">
      <ng-template let-data>
        <input
          type="checkbox"
          [checked]="data.showInMain"
          disabled
        />
      </ng-template>
    </grid-column>
    <grid-column label="general.actions" field="actions">
      <ng-template let-data>
        <div class="action-cell">
          <div class="btn-container">
            <button
              class="btn-icon-ghost"
              [routerLink]="[data.id, 'product-category']"
              title="{{ 'productCategory.product-category-list' | translate }}"
            >
              <span class="material-symbols-outlined">list</span>
            </button>
            <button
              class="btn-icon-ghost"
              [routerLink]="['manage', data.id]"
              title="{{ 'general.edit' | translate }}"
            >
              <span class="material-symbols-outlined">edit_document</span>
            </button>
            <button
              class="btn-icon-ghost"
              (click)="delete(data.id)"
              title="{{ 'general.delete' | translate }}"
            >
              <span class="material-symbols-outlined">delete</span>
            </button>
          </div>
        </div>
      </ng-template>
    </grid-column>
  </grid-result-body>
</search-page>
