<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<!-- Header Section Begin -->
<header class="header">
  <!-- Top Bar -->
  <app-top-bar></app-top-bar>

  <!-- Main Header -->
  <div class="container containerMenu">
    <div class="row align-items-center">
      <!-- Search + Lang -->
      <div
        class="col-12 col-md-4 mb-2 mb-md-0 d-flex flex-wrap justify-content-between"
      ></div>

      <!-- Logo -->
      <div class="col-12 col-md-4 text-center mb-2 mb-md-0">
        <img
          src="./assets/img/R.png"
          alt="Logo"
          style="height: 70px; width: auto"
          class="img-fluid"
        />
      </div>

      <!-- Cart -->
      <div class="col-12 col-md-4 header__menu">
        <div class="lang mt-2 mt-sm-0 d-flex justify-content-md-end">
          <app-language-button></app-language-button>
          <app-login-logout-button></app-login-logout-button>
        </div>
      </div>
    </div>

    <hr class="mb-4 header__menu" />
    <!-- Navbar -->
  </div>
</header>
