/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btnEnd{
    text-align: end; 
}

.containerP{
    border: 2px solid var(--bs-primary);
    border-radius: 6px;
    padding-top: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}