
<div class="cart-side-container">
  <div class="cart-header">
    <h5>{{ "cart.review-your-cart" | translate }}</h5>
    <span class="cart-count badge rounded-pill">{{
      cart.cartItems.length
    }}</span>
  </div>

  <div class="cart-items-wrapper">
    <div class="cart-item" *ngFor="let item of cart.cartItems">
      <div class="item-img-container">
        <app-image
          [src]="item.product.images[0].guidName"
          class="item-img"
          alt="Product"
        ></app-image>
      </div>

      <div class="item-details">
        <h6>{{ item.product.name.local }}</h6>
        <p class="price-usd mb-0">
          {{ "general.JOD" | translate }} {{ item.product.price }}
        </p>
        <a class="remove-link" (click)="removeItem(item.product.id!)">
          <i class="bi bi-trash3"></i> {{ "general.remove" | translate }}
        </a>
      </div>

      <div class="qty-box">
        <button (click)="increaseQuantity(item)">
          <i class="fa-solid fa-plus"></i>
        </button>
        <span>{{ item.quantity }}</span>
        <button (click)="decreaseQuantity(item)">
          <i class="fa-solid fa-minus"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="cart-footer">
    <div class="totals d-flex justify-content-between align-items-end">
      <span class="total-label">{{ "general.total" | translate }}</span>
      <span class="total-amount"
        >{{ "general.JOD" | translate }} {{ total }}</span
      >
    </div>

    <div class="d-grid mb-3">
      <button class="btn btn-primary btn-lg" (click)="goToCart()">
        {{ "cart.viewCart" | translate }}→
      </button>
    </div>
    <button class="btn-secondary-link" (click)="clear()">
      {{ "cart.delete-cart" | translate }}
    </button>
  </div>
</div>
