<mat-sidenav-container autosize>

  <mat-sidenav mode="over" [opened]="spinnerService.isOpen()">
    <div class="d-flex justify-content-end m-3">
      <button mat-icon-button (click)="spinnerService.toggleSideCart()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
    <app-card-sidenav (closeSideNav)="spinnerService.toggleSideCart()"></app-card-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <!-- Header Section Begin -->
    <header class="header shadow-sm">
      <!-- Top Bar -->
      <app-top-bar> </app-top-bar>
      <!-- Main Header -->
      <div class="container py-3 containerMenu">
        <div class="row align-items-center">
          <!-- Search + Lang -->
          <div
            class="col-12 col-md-4 mb-2 mb-md-0 d-flex flex-wrap justify-content-between"
          >
            <div class="search-wrapper flex-grow-1 me-2"> 
                <input
                  type="text"
                  class="form-control rounded-pill"
                  placeholder="{{ 'general.search' | translate }} ..."
                  aria-label="Search"
                  [(ngModel)]="nameOfProduct"
                /> 
                <button type="button" [routerLink]="['/user','product',nameOfProduct]"><i class="fa fa-search"></i></button>
              
            </div>

            <div class="lang mt-2 mt-sm-0 lab">
              <app-language-button></app-language-button>
            </div>
          </div>

          <!-- Logo -->
          <div class="col-12 col-md-4 text-center mb-2 mb-md-0">
            <img
              src="./assets/img/R.png"
              alt="Logo"
              style="height: 70px; width: auto"
              class="img-fluid"
            /> 
          </div>

          <!-- Cart -->
          <div class="col-12 col-md-4 text-md-end text-center mt-2 lab">
            <p class="mb-0 d-inline-flex" style="text-align: end">
              <app-login-logout-button></app-login-logout-button>
              <a
               (click)="spinnerService.toggleSideCart()"
                class="text-dark position-relative mx-2"
                aria-label="Shopping cart"
              >
                <i class="fa fa-shopping-cart fs-5"></i>
                <span
                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                  >{{ cartCount }}</span
                >
              </a>
              {{ "general.JOD" | translate }} {{ cartTotal }}
            </p>
          </div>
        </div>

        <hr class="mb-0" />

        <app-navbar
          [categoryResult]="categoryResult"
          [productCategories]="productCategories"
          [cartCount]="cartCount"
          [cartTotal]="cartTotal"  
        ></app-navbar>
      </div>
    </header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
<a class="btn-whatsapp" (click)="openWhatsApp()" target="_blank">
  <i class="fa fa-whatsapp"></i>{{ "general.whatsAppNumber" | translate }}
</a>
