   
   <!-- Product Section Begin -->
<section class="product spad">
    <div class="container containerP">
      <!-- Add Product Button -->
      <div class="text-end mb-4">
        <button class="btn btn-primary animate__animated animate__fadeIn" (click)="goToAddProduct()">{{'addProduct'|translate}}</button>
      </div>
  
      <!-- Product List -->
      <div class="row product__filter">
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4" *ngFor="let item of products">
          <div class="product__item card border-light shadow rounded-lg animate__animated animate__zoomIn position-relative">
            <!-- Product Image -->
            <div class="product__item__pic">
              <img [src]="environment.apiBaseUrl + item.images[0].guidName" class="card-img-top rounded-top" alt="{{ item.name }}">
              <span class="badge bg-primary position-absolute top-0 end-0 m-2 p-2">New</span>
            </div>
  
            <!-- Action Icons (Side-Aligned) -->
            <div class="action-icons position-absolute top-50 end-0 translate-middle-y d-flex flex-column p-2 bg-light rounded-start shadow">
              <button class="btn btn-outline-primary mb-2" title="{{'general.view' | translate}}" (click)="goView(item.productId!)">
                <mat-icon>visibility</mat-icon>
              </button>
              <button class="btn btn-outline-warning mb-2" title="{{'general.edit' | translate}}" (click)="goEdit(item.productId!)">
                <mat-icon>edit</mat-icon>
              </button>
              <button class="btn btn-outline-danger" title="{{'general.delete' | translate}}" (click)="goDelete(item.productId!)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
  
            <!-- Product Details -->
            <div class="product__item__text card-body text-center">
              <h6 class="card-title fw-bold text-truncate">{{ item.name }}</h6>
              <p class="text-muted small mb-2">{{ item.description! | truncate: 100 }}</p>
              <h5 class="card-price text-primary">${{ item.price }}</h5>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Pagination -->
      <div class="d-flex justify-content-center mt-4">
        <mat-paginator [length]="totalNumberOf" (page)="pageChanged($event)" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </section>
  <!-- Product Section End -->
  
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   <!-- Product Section Begin -->
    <section class="product spad" *ngIf="false">
        <div class="container containerP">
            <div class="btnEnd mx">
                <button class="btn btn-primary" (click)="goToAddProduct()">Add</button>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- <ul class="filter__controls">
                        <li class="active" data-filter="*">Best Sellers</li>
                        <li data-filter=".new-arrivals">New Arrivals</li>
                        <li data-filter=".hot-sales">Hot Sales</li>
                    </ul> -->
                </div>
            </div>
            <div class="row product__filter">
                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals" *ngFor="let item of products">
                    <div class="product__item">
                         <div class="product__item__pic set-bg" [style.background-image]="'url('+environment.apiBaseUrl +  item.images[0].guidName + ')'">

                            <span class="label">New</span>
                            <ul class="product__hover">
                                <li title="{{'general.view'|translate}}" (click)="goView(item.productId!)"><mat-icon>view_carousel</mat-icon></li>
                                <li title="{{'general.edit'|translate}}" (click)="goEdit(item.productId!)"><mat-icon>edit</mat-icon></li>
                                <li title="{{'general.delete'|translate}}" (click)="goDelete(item.productId!)"><mat-icon>delete</mat-icon></li>
                                <!-- <li><a href="#"><img src="./assets/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                                <li><a href="#"><img src="./assets/img/icon/search.png" alt=""></a></li> -->
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6>{{item.name}}</h6> 
                            <div class="rating">
                                <!-- <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i> -->
                            </div>
                            <h5>${{item.price}}</h5>
                            <!-- <div class="product__color__select">
                                <label for="pc-1">
                                    <input type="radio" id="pc-1">
                                </label>
                                <label class="active black" for="pc-2">
                                    <input type="radio" id="pc-2">
                                </label>
                                <label class="grey" for="pc-3">
                                    <input type="radio" id="pc-3">
                                </label>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <mat-paginator [length]="totalNumberOf" (page)="pageChanged($event)" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
 
            <!-- <div class="btnEnd">
                <button class="btn btn-primary" (click)="goBack()">Back</button>
            </div> -->
        </div>
    </section>
    <!-- Product Section End -->
