<div class="container">
  <h3 class="text-titel">{{ "cart.cart-list" | translate }}</h3>
  @if (hasData) {
  <div class="table-responsive cart-table">
    <table mat-table [dataSource]="dataSource" class="table" >
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>
      <ng-container matColumnDef="img">
        <th mat-header-cell *matHeaderCellDef>
          {{ "general.image" | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="table__img">
            <app-image
              [src]="element.product.images?.[0]?.guidName"
            ></app-image>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="product-name">
        <th mat-header-cell *matHeaderCellDef>
          {{ "product.product-name" | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.product.name.local }}
        </td>
      </ng-container>
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>
          {{ "general.count" | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.quantity }}
        </td>
      </ng-container>
      <ng-container matColumnDef="unitPrice">
        <th mat-header-cell *matHeaderCellDef>
          {{ "general.price" | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.unitPrice }}
        </td>
      </ng-container>
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef>
          {{ "general.total" | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.total }}
        </td>
      </ng-container>
      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef>
          {{ "general.details" | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="table__details">
            @for(value of element.keyAttributeValues; track value.id) {

            <small class="m-1">
              {{ value.keyAttribute.name.local }}: {{ value.value.local }}
            </small>
            <hr class="m-0" width="50" />
            }
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>
          {{ "general.actions" | translate }}
        </th>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <div class="mt-4">
      <mat-paginator
        [length]="totalNumberOf"
        (page)="pageChanged($event)"
        [pageSizeOptions]="pageSizeOptions"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
  }
</div>
