<div class="container manage">
  <h3 class="title">
    @if(isAdd){
    {{ "category.add-category" | translate }}
    }@else {
    {{ "category.edit-category" | translate }}
    }
  </h3>
  <form (ngSubmit)="save(productForm)" #productForm="ngForm">
    <div class="row">
      <div class="form-group col-6">
        <label for="nameEn">{{ "general.nameEn" | translate }}</label>
        <input
          type="text"
          class="form-control"
          id="nameEn"
          required
          name="nameEn"
          [(ngModel)]="entity.name.english"
        />
      </div>
      <div class="form-group col-6">
        <label for="nameAr">{{ "general.nameAr" | translate }}</label>
        <input
          type="text"
          class="form-control"
          id="nameAr"
          required
          name="nameAr"
          [(ngModel)]="entity.name.arabic"
        />
      </div>

      <div class="form-group col-6">
        <label for="descriptionEn">{{
          "general.descriptionEn" | translate
        }}</label>
        <input
          type="text"
          class="form-control"
          id="descriptionEn"
          required
          name="descriptionEn"
          [(ngModel)]="entity.description.english"
        />
      </div>
      <div class="form-group col-6">
        <label for="descriptionAr">{{
          "general.descriptionAr" | translate
        }}</label>
        <input
          type="text"
          class="form-control"
          id="descriptionAr"
          required
          name="descriptionAr"
          [(ngModel)]="entity.description.arabic"
        />
      </div>
      <div class="form-group col-6">
        <label for="showInMain">{{
          "general.showInMain" | translate
        }}</label>
        <input
          type="checkbox"
     
          id="showInMain"
          name="showInMain"
          [(ngModel)]="entity.showInMain"
        />
      </div>
      <div class="btn-container">
        <button class="btn btn-secondary" (click)="goBack()">
          {{ "general.back" | translate }}
        </button>
        <button type="submit" class="btn btn-primary mx-2">
          {{ "general.save" | translate }}
        </button>
      </div>
    </div>
  </form>
</div>
