/* Add Product Button */
@use 'variable' as *;
.btn-primary {
 // padding: 0.6rem 2rem;
  color: $white-color;
  background-color: $primary-color;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border: 1px solid $primary-color;
}

.btn-primary:hover {
  background-color: inherit;
  color: $primary-color;
  transform: translateY(-2px);
}

/* أضف هذه لتمنع الرجوع للّون الافتراضي */
.btn-primary:focus,
.btn-primary:active,
.btn-primary:focus:active {
  background-color: $primary-color !important;
  color: $white-color !important;
  border: none;
  box-shadow: none !important; /* لإزالة الظل الأزرق */
  transform: translateY(0); /* حتى ما يتحرك عند الضغط */
  border: 1px solid $primary-color;
}

.btn-secondary { 
  transition: background-color 0.3s ease, transform 0.3s ease;
  background-color: inherit;
  color: $primary-color;
  border: 1px solid $primary-color; // اختياري إذا بدك إطار خفيف
}

.btn-secondary:hover {
  background-color: $primary-color;
  color: $white-color;
  transform: translateY(-2px);
}

/* 👇 أضف الحالات التالية لمنع الرجوع للون Bootstrap */
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary:focus:active {
  background-color: $primary-color !important;
  color: $white-color !important;
  border-color: $primary-color !important;
  box-shadow: none !important; /* لإزالة الظل الأزرق */
  transform: translateY(0);
}

.btn-delete-key {
  padding: 0.6rem 2rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
  background-color: inherit;
  color: $primary-color;
}

.btn-delete-key:hover {
  background-color: $primary-color;
  color: $white-color;
  transform: translateY(-2px);
}

.btn-container {
  display: flex;
  justify-content: end;
  margin: 0 1rem;
}

.btn-icon {
  color: $primary-color;
}

.btn-icon:hover {
  color: $secondary-color;
}

a {
  cursor: pointer;
}






.btn-third { 
  transition: background-color 0.3s ease, transform 0.3s ease;
  background-color: inherit;
  color: $white-color;
  border: 1px solid $white-color; 
}

.btn-third:hover { 
  color: $white-color;
  transform: translateY(-2px);
}
 
.btn-third:focus,
.btn-third:active,
.btn-third:focus:active {
  background-color: $primary-color !important;
  color: $white-color !important;
  border-color: $primary-color !important;
  box-shadow: none !important; /* لإزالة الظل الأزرق */
  transform: translateY(0);
}

 
.my-swiper::part(button-prev),
.my-swiper::part(button-next) {
  width: 10px; 
}