@use "variable" as *;
@use "mixins" as m;

.button {
  @include m.transition(all, 0.3s);
}
.category-section {
  .section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0;
    font-family: "Cairo", sans-serif;

    b {
      flex: 1;
      height: 1px;
      background-color: $line-color;
      margin: 0 1rem;
    }

    .section-title-main {
      color: $primary-color;
      text-align: center;
      white-space: nowrap;
      font-family: "FontAwesome";
      font-weight: lighter;
      font-size: medium;
    }
  }

  .btn-pink {
    background-color: $primary-color;
    color: #fff;
    border-radius: 30px;
    transition: all 0.3s ease;
    font-size: small;
    &:hover {
      //  background-color: color.adjust($primary-color, 10%);
      transform: scale($hover-scale);
    }
  }

  .product-card {
    transition: transform 0.4s ease, box-shadow 0.4s ease;

    &:hover {
      transform: translateY(-6px) scale($hover-scale);
    }

    .discountRated {
      position: absolute;
      top: 3%;
      left: 3%;
      z-index: 1;
      padding: 0.5rem 0.3rem;
      border-radius: 50%;
      background-color: $primary-color;
      color: white;
      opacity: 0.5;
    }

    .category-image-wrapper,
    .product-image-wrapper {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 266px;
      border-radius: 2%;
      border-radius: 12%;
      @media (max-width: 500px) {
        height: 183px;
      }
      .main-img,
      .hover-img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: fill;
        transition: opacity 0.5s ease, transform 0.5s ease;
      }
    }

    .card-body {
      text-transform: capitalize;

      .price {
        font-weight: bold;
        color: $primary-color;
      }
    }
  }
}

.carousel-item {
  padding: 2rem 0;

  .card {
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}
