.category-section {
  .section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0;
    font-family: "Cairo", sans-serif;

    b {
      flex: 1;
      height: 1px;
      background-color: $line-color;
      margin: 0 1rem;
    }

    .section-title-main {
      color: $primary-color;
      text-align: center;
      white-space: nowrap;
      font-family: "FontAwesome";
      font-weight: lighter;
      font-size: medium;
    }
  }

  .btn-pink {
    background-color: $primary-color;
    color: #fff;
    border-radius: 30px;
    transition: all 0.3s ease;
    font-size: small;
    &:hover {
      background-color: darken($primary-color, 10%);
      transform: scale($hover-scale);
    }
  }

  .product-card {
    transition: transform 0.4s ease, box-shadow 0.4s ease;

    &:hover {
      transform: translateY(-6px) scale($hover-scale);
    }
    .discountRated {
      left: 3%;
      top: 3%;
      position: absolute;
      z-index: 1;
      background-color: $primary-color;
      border-radius: 50%;
      padding: 0.4rem 0.3rem;
      color: white;
      opacity: 0.5;
    }

    .category-image-wrapper {
      position: relative;
      overflow: hidden;
      border-radius: 2%;
      width: 100%;
      height: 300px;

      .main-img,
      .hover-img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        transition: opacity 0.5s ease, transform 0.5s ease;
        display: block;
      }

      .hover-img {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
      }

      &:hover {
        .main-img {
          opacity: 0;
          transform: scale($hover-scale);
        }

        .hover-img {
          opacity: 1;
          transform: scale($hover-scale);
        }
      }
    }
    .card-body {
      text-transform: capitalize;
      .price {
        font-weight: bold;
        color: $primary-color;
      }
    }
  }
}

.carousel-item {
  padding: 2rem 0;

  .card {
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}
