/*---------------------
  Footer
-----------------------*/
@use 'variable' as *;
// .footer {
//   background: $heading-color;
//   padding-top: 70px;
// }

// .footer__about {
//   margin-bottom: 30px;
  
//   .footer__logo {
//     margin-bottom: 30px;

//     a {
//       display: inline-block;
//     }
//   }

//   p {
//     color: #b7b7b7;
//     margin-bottom: 30px;
//   }
// }

// .footer__widget {
//   margin-bottom: 30px;

//   h6 {
//     color: $white-color;
//     font-size: 15px;
//     font-weight: 700;
//     text-transform: uppercase;
//     letter-spacing: 2px;
//     margin-bottom: 20px;
//   }

//   ul {

//     li {
//       line-height: 36px;
//       list-style: none;

//       a {
//         color: #b7b7b7;
//         font-size: 15px;
//       }
//     }
//   }

  
//   .footer__newslatter {
    
//     p {
//       color: #b7b7b7;
//     }

//     form {
//       position: relative;

//       input {
//         width: 100%;
//         font-size: 15px;
//         color: #3d3d3d;
//         background: transparent;
//         border: none;
//         padding: 15px 0;
//         border-bottom: 2px solid $white-color;

//         &::placeholder {
//           color: #3d3d3d;
//         }
//       }

//       button {
//         color: #b7b7b7;
//         font-size: 16px;
//         position: absolute;
//         right: 5px;
//         top: 0;
//         height: 100%;
//         background: transparent;
//         border: none;
//       }
//     }
//   }
// }

// .footer__copyright__text {
//   border-top: 1px solid rgba(255, 255, 255, 0.1);
//   padding: 20px 0;
//   margin-top: 40px;

//   p {
//     color: #b7b7b7;
//     margin-bottom: 0;

//     i {
//       color: $primary-color;
//     }

//     a {
//       color: $primary-color;
//     }
//   }
// }




$icon-size: 36px;

.site-footer {
  background: $primary-color;
  color: $white-color;
  font-size: smaller;
  font-family: monospace;
  position: relative;
  width: 100%;
  bottom: 0;
  .footer-link {
    color: $secondary-color;
    text-decoration: none;
    &:hover,
    &:focus {
      color: adjust($white-color, 6%);
      text-decoration: underline;
    }
  }
  .copyright {
    color: $white-color;
    margin-left: 0.5rem;
  }
  .payment-icons {
    display: inline-flex;
    gap: 0.5rem;
    align-items: center;
    .pay-icon {
      width: $icon-size;
      height: $icon-size;
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #faf9fd; 
      border-radius: 7px;
      width: 45px;
      filter: brightness(1.05);
      &.apple {
        background-image: url("assets/img/icon/pay.svg");
      }
      &.visa {
        background-image: url("assets/img/icon/visa.svg");
      }
      &.paypal {
        background-image: url("assets/img/icon/paypal.svg");
      }
      //   &.stripe { background-image: url('/assets/img/icon/pay.svg'); }
      //   &.secure-delivery { background-image: url('/assets/img/icon/pay.svg'); }
    }
  }
  .language-switcher {
    .lang-link {
      color: $white-color;
      font-weight: 600;
      text-decoration: none;
      &:hover {
        color: $white-color;
      }
    }
  }
}
[dir="rtl"] .site-footer,
.site-footer.rtl {
  text-align: right;
  .copyright {
    margin-left: 0;
    margin-right: 0.5rem;
  }
  .payment-icons {
    order: -1;
  }
}
