@use 'variable' as *;
.manage {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 21px 0px;
  .title {
    color: $primary-color;

    &:hover {
      color: $secondary-color;
      cursor: default;
    }

    @media (max-width: 992px) {
      font-size: 2.25rem;
    }

    @media (max-width: 768px) {
      font-size: 2rem;
    }

    @media (max-width: 576px) {
      font-size: 1.75rem;
      margin-bottom: 1rem;
      padding: 0 0.5rem;
    }
  }
  label{
    text-transform: capitalize;
  }
}

// .list{
//   .title-list{
    
//   }
// }