.product-view {
  .image-gallery {
    .carousel {
      border-radius: 10px;
      overflow: hidden;
      .carousel-inner {
        .carousel-item {
          text-align: center;
          app-image {
            height: 500px; 
            display: block;
            margin: 0 auto;
            .img{
                object-fit: cover;
            }
          }
        }
      }

      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        padding: 10px;
      }
    }

    .thumbnail-gallery {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      app-image,
      img {
        width: 100%;
        height: 70px; 
        border: 2px solid transparent;
        border-radius: 5px;
        cursor: pointer;
        transition: border 0.3s;
        object-fit: cover;
        &:hover {
          border-color: #0d6efd;
        }
      }
    }
  }

  .product-info {
    // border-left: 1px solid $para-color;
    display: flex ;
    flex-direction: column;
    justify-content: space-between;
    .product-price {
      font-size: 1.1rem;

      .old-price {
        font-size: 1rem;
        color: $secondary-color;
      }
    }

    .customization {
      .customization-item {
        .item-title {
          font-weight: 500;
          font-size: 1.1rem;
          color: #333;
        }

        .option-icon {
          width: 32px;
          height: 32px;
        }

        .plus-btn {
          background: none;
          border: none;
          color: #0d6efd;
          font-size: 1.2rem;
          line-height: 1;

          &:hover {
            color: #084298;
          }
        }
      }

      .accordion-body {
        font-size: 0.95rem;
        color: #555;
        padding: 15px;
      }
    }

    .mt-2 img {
      filter: grayscale(1);
      transition: filter 0.3s;

      &:hover {
        filter: grayscale(0);
      }
    }
  }

  // Responsive tweaks
  @media (max-width: 768px) {
    .image-gallery {
      .carousel-inner app-image {
        max-height: 300px;
      }

      .thumbnail-gallery {
        app-image,
        img {
          height: 50px;
        }
      }
    }

    .product-info {
      .product-title {
        font-size: 1.1rem;
      }

      .product-price {
        .new-price {
          font-size: 1.1rem;
        }
      }
    }
  }


.carousel-item {  
  padding: 0;
  .card {
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}
}
