/*---------------------
  Shopping Cart
-----------------------*/
@use 'variable' as *;

.shopping__cart__table {
  margin-bottom: 30px;
  margin-top: 10px;

  table {
    width: 100%;

    thead {
      border-bottom: 1px solid #f2f2f2;

      tr {
        th {
          color: $primary-color;
          text-transform: capitalize;
          font: 400 1rem / 1.5rem Roboto, sans-serif;
          font-weight: 500;
        }
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid #f2f2f2;

        td {
          padding: 30px 15px;

          &.product__cart__item {
            // width: 75px;
            display: flex;
            align-items: center;

            .product__cart__item__pic {
              width: 76px;
              height: 76px;
              overflow: hidden;
              margin-right: 15px;
            }

            .product__cart__item__text {
              h6 {
                margin-bottom: 10px;
                color: $primary-color;
                text-transform: capitalize;
                font: 400 1rem / 1.5rem Roboto, sans-serif;
                font-weight: 500;
              }

              h5 {
                color: #0d0d0d;
                font-weight: 700;
              }
            }
          }

          &.quantity__item {
            width: 175px;

            .quantity {
              justify-content: center;
              display: flex;
              .pro-qty-2 {
                width: 90px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border: 1px solid #ccc;
                padding: 4px 8px;

                input {
                  width: 40px;
                  border: none;
                  text-align: center;
                  font-size: 16px;
                  color: $heading-color;
                  background: transparent;
                }

                .qtybtn {
                  font-size: 18px;
                  color: #888888;
                  cursor: pointer;
                  user-select: none;
                }
              }
            }
          }

          &.cart__price {
            color: $primary-color;
            //  font-size: 18px;
            font-weight: 600;
            width: 140px;
          }

          &.cart__close {
            i {
              //      font-size: 18px;
              color: $primary-color;
              height: 40px;
              width: 40px;
              //  background: #f3f2ee;
              border-radius: 50%;
              line-height: 40px;
              text-align: center;
              cursor: pointer;
              transition: 0.3s;

              &:hover {
                background: #e5e5e5;
                color: red;
              }
            }
          }
        }
      }
    }
  }
}

.continue__btn {
  &.update__btn {
    text-align: right;

    a {
      color: $white-color;
      background: $heading-color;
      border-color: $heading-color;

      i {
        margin-right: 5px;
      }
    }
  }

  a {
    color: $heading-color;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 1px solid #e1e1e1;
    padding: 14px 35px;
    display: inline-block;
  }
}

.cart__discount {
  margin-bottom: 60px;

  h6 {
    color: $heading-color;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 35px;
  }

  form {
    position: relative;

    input {
      font-size: 14px;
      color: #b7b7b7;
      height: 50px;
      width: 100%;
      border: 1px solid #e1e1e1;
      padding-left: 20px;

      &::placeholder {
        color: #b7b7b7;
      }
    }

    button {
      font-size: 14px;
      color: $white-color;
      font-weight: 700;
      letter-spacing: 2px;
      text-transform: uppercase;
      background: $heading-color;
      padding: 0 30px;
      border: none;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
    }
  }
}

.cart__total {
  background: #f3f2ee;
  padding: 35px 40px 40px;

  h6 {
    color: $heading-color;
    text-transform: uppercase;
    margin-bottom: 12px;
  }

  ul {
    margin-bottom: 25px;

    li {
      list-style: none;
      font-size: 16px;
      color: #444444;
      line-height: 40px;
      overflow: hidden;

      span {
        font-weight: 700;
        color: $primary-color;
        float: right;
      }
    }
  }

  .primary-btn {
    display: block;
    padding: 12px 10px;
    text-align: center;
    letter-spacing: 2px;
  }
}
